body {
  background-color: #ffffff;
  height: 100vh;
  margin:0;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('./fonts/Roboto-Thin.ttf'); /* IE 9 Compatibility Mode */
  font-weight: normal;
}
h1{
  font-family: 'Lucida Sans';
}

::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

.logotype{
  position: absolute;
  width: 100px;
  height: 600px;
  top: 10px;
  left: 10px;
  background-image: url('./images/logo_black.png');
  background-size: 70px;
  background-repeat: no-repeat;
}

.info_box{
  position: absolute;
  width: 800px;
  height: 550px;
  top: 9%;
  left: 10%;
  /* background-color: aqua; */
  background-image: url('./images/info_window_black.png');
  background-size: 800px;
  background-position: bottom;
  background-repeat: no-repeat;
  justify-content: center;
}

.info_textfield{
  position: absolute;
  width: 700px;
  height: 400px;
  /* background-color: rgb(247, 0, 255); */
  margin-left: 5%;
  margin-top: 13%;
  word-wrap: break-word;
  font-size: 10px;
  overflow: scroll;
}

.about_us{
  position: absolute;
  margin-top: 13px;
  margin-left: 65px;
  font-size: 25px;
}

.to_order{
  position: absolute;
  margin-top: 13px;
  margin-left: 265px;
  font-size: 25px;
}

.integration{
  position: absolute;
  margin-top: 13px;
  margin-left: 430px;
  font-size: 25px;
}

.about_dora{
  position: absolute;
  margin-top: 13px;
  margin-left: 615px;
  font-size: 25px;
}


.chat_box{
  position: absolute;
  width: 325px;
  height: 550px;
  top: 9%;
  right: 7%;
  z-index: -1;
  /* background-color: aqua; */
  background-image: url('./images/chat_window_black.png');
  background-size: 324px;
  background-position: bottom;
  background-repeat: no-repeat;
}

.online_chat{
  position: absolute;
  margin-top: 13px;
  margin-left: 105px;
  font-size: 25px;
}



