body {
    /* background-image: url("./images/cool_bg.png"); */
    /* background-color: #000000; */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    height: 100%;
    overflow: hidden;
    margin:0;

  }

  h1{
    color: white;
    font-weight: normal;
    font-family: "GOST_type_A";
  }

  A { text-decoration: none; }
  A:hover { text-decoration: underline;}

.logo{
  width: 7%;
  position: absolute;
  left: 2%;
  top: 2%
}

.mouse_parallax{
  /* position: relative; */
  display: flex;
  /* align-items: center;
  justify-content: center; */
  height: 100%;
  overflow: hidden;
}

.mouse_parallax_background{
  position: absolute;
  z-index: -1;
  width: 110%;
  height: 110%;
  background-image: url("./images/cool_bg.png");
  background-position: center center;
  background-size: cover;
  transform: translate(-123, -21);
}


.chat_square {
  width: 350px;
  height: 450px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 50px;
  right: 50px;
  border: 2px white;
  box-shadow: 0px 0 5px rgba(255, 255, 255, 0.3);
  border-style: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 5px 5px 5px 5px;
  display: block;
}

.hidden_chat{
  position: absolute;
  bottom: 50px;
  right: 50px;
  display: none;
}

.message_field{
  width: 350px;
  height: 350px;
  background: rgba(0, 0, 0, 0.7);
  /* position: absolute; */
  bottom: 50px;
  right: 50px;
  border: 0px white;
  border-style: solid;
  border-width: 0px;
  background: transparent;
  overflow: auto;

}
::-webkit-scrollbar { /* chrome based */
  width: 0px;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}



.chat_input{
  position: absolute;
  bottom: 8px;
  left: 5px;
  margin: 0px;
  width: 290px;
  height: 6%;
  /* overflow: auto; */
  font-family: "GOST_type_A";
  font-weight: bold;
  font-size: large;
  resize: none;
  overflow: hidden;
  color: white;
  background: transparent;
  font-weight: normal;
}

.mail{
  font-size: 65%;
  width: 300px;
  word-wrap: break-word;
  padding-left: 10px;
}

.nickname{
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 335px;
  height: 40px;
  overflow: auto;
  font-family: "GOST_type_A";
  font-weight: bold;
  font-size: 40px;
  resize: none;
  overflow: hidden;
  font-weight: normal;
  color: white;
  background: transparent;
}



.close_chat_button{
  position: absolute;
  right: 5px;
  top: 5px;
}

.chat_top{
  /* background: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0 5px rgba(255, 255, 255, 0.3); */
  height: 40px;
  position: relative;
  background: transparent;
  border-bottom-style: solid;
  border-bottom-color: rgb(117, 117, 117);
  border-bottom-width: 1px;

}

.text_online_chat{
  position: absolute;
  margin: auto;
  left: 115px;
}


.regbox_style{
  width: 400px;
  height: 400px;
  background: rgba(0, 0, 0, 0.7);
  border: 2px white;
  box-shadow: 0px 0 5px rgba(255, 255, 255, 0.3);
  position: relative;
  margin: auto;
  top: 100px;
}

@font-face {
font-family: 'GOST_type_A';
src: url('./fonts/gost_type_a.eot'); /* IE 9 Compatibility Mode */
src: url('./fonts/gost_type_a.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
  url('./fonts/gost_type_a.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/gost_type_a.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
  url('./fonts/gost_type_a.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/gost_type_a.svg#gost_type_a') format('svg'); /* Chrome < 4, Legacy iOS */
}